<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ks.keshuoservice.dao.Redirect.RedirectMappingDao">

    <select id="queryMappingInfo" parameterType="pd" resultType="TbMappingInfoEntity">
        select * from tb_mappinginfo info where 1=1
        <if test="serial!=null and serial!=''">
            and info.serial = #{serial}
        </if>
        <if test="upserial!=null and upserial!=''">
            and info.upserial = #{upserial}
        </if>
        <if test="downserial!=null and downserial!=''">
            and info.downserial = #{downserial}
        </if>
        <if test="url!=null and url!=''">
            and info.url = #{url}
        </if>
        <if test="createuser!=null and createuser!=''">
            and info.createuser = #{createuser}
        </if>
        <if test="startTime!=null and startTime!=''">
            and info.createtime  <![CDATA[>= ]]>  DATE_FORMAT(#{startTime},'%Y-%m-%d %H:%i:%S')
        </if>
        <if test="endTime!=null and endTime!=''">
            and info.createtime  <![CDATA[<= ]]>  DATE_FORMAT(#{endTime},'%Y-%m-%d %H:%i:%S')
        </if>
        <if test="startUpdateTime!=null and startUpdateTime!=''">
            and info.updatetime  <![CDATA[>= ]]>  DATE_FORMAT(#{startUpdateTime},'%Y-%m-%d %H:%i:%S')
        </if>
        <if test="endUpdateTime!=null and endUpdateTime!=''">
            and info.updatetime  <![CDATA[<= ]]>  DATE_FORMAT(#{endUpdateTime},'%Y-%m-%d %H:%i:%S')
        </if>
        <if test="updateuser!=null and updateuser!=''">
            and info.updateuser = #{updateuser}
        </if>
        <if test="status!=null and status!=''">
            and info.status = #{status}
        </if>
    </select>




    <update id="updateMappingInfo" parameterType="pd">
        update tb_mappinginfo
        <set>
            <if test="status!=null">
                status ='${status}',
            </if>
            <if test="updateuser!=null">
                updateuser ='${updateuser}',
            </if>
            updatetime = DATE_FORMAT(NOW(),'%Y-%m-%d %H:%m:%s')
        </set>
        <where>
            serial = '${serial}'
        </where>


    </update>



    <insert id="saveDownMappingInfo" parameterType="pd">
        insert into tb_downmappinginfo(
        serial,mappingserial,pars,idfa,callback
        ) values (
         UUID_SHORT(),#{mappingserial},#{pars},#{idfa},#{callback}
        )
    </insert>


</mapper>


