<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ks.keshuoservice.dao.Redirect.RedirectManageDao">

    <select id="queryUpManageInfo" parameterType="pd" resultType="TbUpManangeInfoEntity">
        select * from tb_upmanageinfo info where 1=1
        <if test="serial!=null and serial!=''">
            and info.serial = #{serial}
        </if>
        <if test="name!=null and name!=''">
            and info.name = like '%${name}%'
        </if>
        <if test="url!=null and url!=''">
            and info.url like '%${url}%'
        </if>
        <if test="createuser!=null and createuser!=''">
            and info.createuser = #{createuser}
        </if>
        <if test="remark!=null and remark!=''">
            and info.remark like '%${remark}%'
        </if>
        <if test="startTime!=null and startTime!=''">
            and info.createtime  <![CDATA[>= ]]>  DATE_FORMAT(#{startTime},'%Y-%m-%d %H:%i:%S')
        </if>
        <if test="endTime!=null and endTime!=''">
            and info.createtime  <![CDATA[<= ]]>  DATE_FORMAT(#{endTime},'%Y-%m-%d %H:%i:%S')
        </if>
        <if test="startUpdateTime!=null and startUpdateTime!=''">
            and info.updatetime  <![CDATA[>= ]]>  DATE_FORMAT(#{startUpdateTime},'%Y-%m-%d %H:%i:%S')
        </if>
        <if test="endUpdateTime!=null and endUpdateTime!=''">
            and info.updatetime  <![CDATA[<= ]]>  DATE_FORMAT(#{endUpdateTime},'%Y-%m-%d %H:%i:%S')
        </if>
        <if test="updateuser!=null and updateuser!=''">
            and info.updateuser = #{updateuser}
        </if>
        <if test="status!=null and status!=''">
            and info.status = #{status}
        </if>
    </select>


    <select id="queryUpManageParamByUpSerialInfo" resultType="TbUpManangeParamInfoEntity">
        select * from tb_upmanageparaminfo  where upserial = #{serial}
    </select>


    <insert id="saveMappingInfo" parameterType="pd">
        insert into tb_mappinginfo(
        serial,url,upserial,downserial,createuser,status
        ) values (
        #{serial},#{url},#{upserial},#{downserial},#{createuser},#{status}
        )
    </insert>


    <insert id="saveUpManageInfo" parameterType="pd">
        insert into tb_upmanageinfo(
        serial,name,url,status,createuser,remark
        ) values (
        #{serial},#{name},#{url},#{status},#{createuser},#{remark}
        )
    </insert>

    <insert id="saveUpManageParamInfo" parameterType="pd">
        insert into tb_upmanageparaminfo(
        serial,upserial,code,value,createuser
        ) values (
        UUID_SHORT(),#{upserial},#{code},#{value},#{createuser}
        )
    </insert>

    <update id="updateUpManageInfo" parameterType="pd">
        update tb_upmanageinfo
        <set>
            <if test="name!=null">
                name ='${name}',
            </if>
            <if test="url!=null">
                url ='${url}',
            </if>
            <if test="status!=null">
                status ='${status}',
            </if>
            <if test="updateuser!=null">
                updateuser ='${updateuser}',
            </if>
            <if test="remark!=null">
                remark ='${remark}',
            </if>
            updatetime = DATE_FORMAT(NOW(),'%Y-%m-%d %H:%m:%s')
        </set>
        <where>
            serial = '${serial}'
        </where>


    </update>

    <delete id="deleteUpManageParamInfo">
        delete from tb_upmanageparaminfo where upserial = #{upserial}
    </delete>

</mapper>


